*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Inter', sans-serif;
}
body{
    background-color: #1f1d2b;
}
html{
    scroll-behavior: smooth;
}
h4,h5{
    color: gray
}
.font-color-w{
    color: #fff;
}
.font-color-o{
    color: #f1a600;
}
.nav-bar{
    background-color: #1f1d2b;
    width: 100%;
    height: 60px;
    position: fixed;
    display: flex;
    justify-content: end;
    z-index: 99;
}

.nav-desk{
    display: none;
}


.button-nav{
    padding-right: 30px;
    background: none;
    border: none;
}
.button-nav img{
    width: 30px;
}
.mobile-nav{
    width: 100%;
    height: 0;
    top: 60px;
    right:0;
    position: absolute;
    z-index: 10;
    overflow: hidden;
}
.nav-list{
    border: 3px outset#242635;
    background-color: #1f1d2b;
    text-align: center;
    list-style: none;
}
.nav-list li:hover{
    background-color: #242635;
}
.nav-list a{
    text-decoration: none;
    color: #fff;
    display: block;
    padding: .5rem 3rem;
}

.hidden{
    height: auto;
}

/* Home */
.home{
    height: 400px;
    position: relative;
}
.my-photo-container{
    margin: 0 2rem;
    position: absolute;
    bottom: 2rem;
    right: 0;
}
.my-photo{
    width: 15rem;
}
.content-home{
    position: absolute;
    margin: 3rem 2rem;
}

.element{
    padding-bottom: 25px;
}
.e-1{
    font-size: 30px;
}
.e-2{
    max-width: 22rem;
    font-size: 25px;
}
.e-3{
    max-width: 10rem;
}
.home-icons{
    display: flex;
}
.home-icons img{
    padding: 0 5px;
}
/* Acerca de mi */
.about-my{
    color: #fff;
    background-color: #242635;
    padding: 15px;
}
.text-about-my{
    justify-content: center;
}
.text-content h2{
    text-align: center;
    font-size: 48px;
    font-weight: 600;
}
.text-about-my p{
    text-align: center;
    max-width: 900px;
    font-size: 20px;
    padding: 20px 0;
}
.logos{
    margin: auto;
    max-width: 1000px;
}
.card-content{
    text-align: center;
}



/* Experiencia */
.experiencia{
    padding: 30px;
}
.experiencia h2{
    font-size: 48px;
    text-align: center;
    color: #fff;
    padding-bottom: 30px;
}
.experiencia-content{
    margin: auto;
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: auto auto auto auto;
    grid-template-rows: auto auto auto;
    max-width: 800px;
    row-gap: 1em;
}
.i-text{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: #fff;
}
.i-img{
    display: flex;
    justify-content: center;
}
.i-img img{
    width: 100px;
}

.i10{
    grid-row: 1 / 4;
    display: flex;
    align-items: end;
}

/*Mis habilidades */

.mis-hab{
    padding: 15px;
    color: #fff;
    display: grid;
    grid-template-columns: auto auto;
    grid-template-rows: auto auto auto auto;
    max-width: 700px;
    margin: auto;
    row-gap: 2em;
}   
.item{
    row-gap: 2em;
}
.i-tittle{
    text-align: center;
    font-size: 30px;
    grid-column: 1/3;
}
.i-num{
    color: #f1a600;
    font-size: 40px;
    font-weight: 600;
    display: flex;
    justify-content: end;
}
.hab-text{
    padding-left: 40px;
    display: flex;
    align-items: center;
}

.portafolio{
    max-width: 600px;
    margin: auto;
    padding: 30px;
}
.portafolio h2{
    padding-bottom: 30px;
    font-size: 48px;
    color: #fff;
    text-align: center;
}
.port-content{
    padding: 20px;
    color: #fff;
}
.port-img{
    padding: 10px 0;
}
.port-img img{
    width: 200px;
    box-shadow: -5px -15px 0px #f1a600, 5px -15px 0px #f1a600;
}
.port-img-dif{
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}
.port-img-dif img{
    width: 200px;
    box-shadow: -5px -15px 0px #51535f, 5px -15px 0px #51535f;
}







.contacto{
    height: 300px;
    background-color: #242635;
    padding: 30px;
}
.contacto h2{
    color: #fff;
    text-align: center;
    padding-bottom: 30px;
}
.cont-content{
    margin: auto;
    max-width: 700px;
    align-items: center;
}
.cont-card{
    color: #fff;
    text-align: center;
}
.cont-card img{
    width: 60px;
}

footer h4{
    padding: 20px 0;
    text-align: center;
    color: #fff;
}