#aboutMe {
  max-width: 1024px;
}
.aboutMe-content {
  background-color: var(--primary-color);
  padding: 1em;
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-radius: .5em;
}
