.contact-form form label {
  padding: 1em;
}

.contact-form form input,
.contact-form form textarea {
  color: var(--secondary-color);
  width: 100%;
  padding: 0.7em;
  outline: none;
  border: none;
  border-bottom: 1px solid var(--color1);
  background: none;
  resize: none;
}

.contact-form form button {
  padding: .5em;
  border-radius: 5px;
  border: none;
  background-color: var(--color1);
}
form button > i {
  color: var(--color-primary);
}

.contact-info h3,
.contact-info ul {
  margin: .5em;
}

.contact-info ul {
  text-align: left;
}
.contact-info ul i {
  margin: .5em;
}

@media screen and (min-width: 768px) {
  .contact-container {
    display: grid;
    grid-template-columns: 3fr 2fr;
  }

  .contact-form form {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
  }
  .contact-form form .block {
    grid-column: 1 / 3;
  }
}
