#home {
  width: 100%;
  height: 100vh;
  position: relative;
}

video {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
  z-index: 0;
}
.wave {
  width: 100%;
  position: absolute;
  bottom: -2px;
}

.homeMe {
  height: 100%;
  display: flex;
  position: absolute;
  left: 0;
  right: 0;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 5;
}
.myPhoto {
  width: 300px;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.homeName {
  margin: 5vh;
  font-size: 2rem;
}
.homeText {
  font-size: 1.5rem;
}
.heroHr {
  border: none;
  height: 1px;
  background-color: rgba(0, 0, 0, 0.8);
}
