#home {
  height: 100vh;
}

.my-photo {
  width: 50vw;
  background: rgba(0, 0, 0, 0.5);
}

.web_icons a,
.web_icons i {
  width: 1em;
  color: var(--secondary-color);
  transition: color 0.3s ease-in-out;
}

.web_icons i:hover {
  color: var(--primary-color);
}

@media only screen and (min-width: 480px) {
  .my-photo {
    width: 40vmin;
  }
}

/* Animations */
.lev {
  animation: lev 2s infinite alternate;
}

@keyframes lev {
  0% {
    transform: translateY(0);
  }

  100% {
    transform: translateY(-5%);
  }
}

.fadeToTop {
  animation: up 1s linear alternate;
}

@keyframes up {
  0% {
    transform: translateY(30%);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1,
  }
}