#home {
  height: 100vh;
}

.home_content {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.my-photo{
  width: 70vmin;
  border-radius: 50%;
  background: rgba(0, 0, 0, 0.5);
}

.home_welcome {
  text-align: center;
  margin: 1em 0 0.3em 0;
}
.home_welcome h1{
  margin: .2em;
}
.home_hr {
  height: 1px;
  margin: auto;
  background-color: rgba(0, 0, 0, 0.8);
}
.home_text {
  margin: .2em;
  letter-spacing: 0.3em;
}

.video-bg {
  height: 100%;
  position: fixed;
  object-fit: cover;
  z-index: -10;
}

@media only screen and (min-width: 480px) {
  .my-photo {
    width: 50vmin;
  }
}
