.nav {
  width: 100%;
  padding: 0 10px;
  display: flex;
  justify-content: space-between;
  height: 7vh;
  background-color: rgba(0, 0, 0, 0.7);
  position: fixed;
  z-index: 10;
}

.navMenu {
  position: absolute;
  left: -100%;
  transition: left 0.5s ease-in-out;
  width: 40%;
  /* z-index: -10; */
  background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.1));
}
.navMenu a {
  display: flex;
  font-weight: 700;
  transition: 0.3s all ease-in-out;
  padding: 10px;
}

.menuIcons {
  margin-right: 5px;
}

.btnToggle {
  margin-left: 10px;
  font-size: 25px;
  /* position: relative; */
  border: none;
  z-index: 10;
  background-color: transparent;
}

.iconImg {
  width: 25px;
}
.iconLink {
  display: flex;
  margin-left: 15px;
  justify-content: center;
}

@media screen and (min-width: 1200px) {
  .nav {
    padding-right: 30px;
  }
  .btnToggle {
    display: none;
  }
  .navMenu {
    display: flex;
    width: fit-content;
    background: none;
    align-items: center;
    position: unset;
    gap: 5px;
    cursor: pointer;
  }
  .navMenu a:hover {
    background-color: #ff7d00;
    color: #000;
    box-shadow: 0 0 5px #ff7d00, 0 0 10px #ffae00;
    display: flex;
    flex-direction: row;
    justify-content: center;
  }
  .navMenu a:hover i {
    color: #000;
  }
}
