.navbar {
  width: 100%;
  padding: 1em;
  background-color: var(--content-background-color);
  display: flex;
  justify-content: space-between;
  position: fixed;
  top: 0;
  z-index: 10;
}

.nav_menu {
  width: 40%;
  background-color: var(--primary-color);
  position: absolute;
  left: -100%;
  transition: left 0.5s ease-in-out;
}

.nav_menu .link {
  padding: 1em;
  display: flex;
}

.nav_menu-icon {
  text-align: center;
  width: 1em;
  margin-right: 0.5em;
}

.nav_web-icons {
  display: flex;
  justify-content: center;
  align-items: center;
}
.nav_web-icon {
  margin-left: 1em;
}
.img_web-icon {
  width: 1.5em;
}

.btn-toggle,
.btn-toggle:hover {
  font-size: 1.5em;
  z-index: 10;
  background-color: transparent;
  box-shadow: none;
}

@media screen and (min-width: 960px) {
  .navbar {
    padding: 0;
    padding-right: 1em;
  }
  .nav_menu {
    display: flex;
    align-items: center;
    width: fit-content;
    background: none;
    position: unset;
    gap: 5px;
  }
  .nav_menu a,
  .nav_menu a i {
    transition: all 0.3s ease-in-out;
  }

  .nav_menu a:hover {
    background-color: var(--color1);
    color: var(--primary-color);
    box-shadow: 0 0 5px var(--color2), 0 0 10px var(--color2);
  }
  .nav_menu a:hover i {
    color: var(--primary-color);
  }

  .btn-toggle {
    display: none;
  }
}
