:root {
  --primary-color: #181818;
  --primary-color2: #252525;

  --secondary-color: #f0f0f0;
  --secondary-color2: #dddddd;

  --opacity-color: rgba(0, 0, 0, .5);

  --color1: #ea3535;
  --color2: #e84747;
  --color3: #740000;
}

html > div[style] {
  display: none;
}

.App {
  max-width: 1280px;
}
.bg-primary-color{                                                                                                                                                                                                                                                                                                                    
  background-color: var(--primary-color);
}

.bg-secondary-color{
  background-color: var(--secondary-color);
}

.bg-color1{
  background-color: var(--color1);
}
.opacity-color{
  background-color: var(--opacity-color);
}
.secondary-color{
  color: var(--secondary-color);
}
.text-color1{
  color: var(--color1);
}

.section-color{
  background-color: var(--opacity-color);
}

.color2{
  background-color: var(--color2);
}
.text-color1{
  color: var(--color1);
}
.text-color2{
  color: var(--color3);
}

img,
picture,
video,
figure,
svg {
  width: 100%;
  max-height: 100%;
}

a {
  color: inherit;
  cursor: pointer;
  text-decoration: none;
}

h3{
  font-size: xx-large;
}

button {
  transition: all 0.3s ease-in-out;
  background-color: var(--color1);
  cursor: pointer;
  border: none;
}
button:hover {
  box-shadow: 0 0 10px var(--color1);
  background-color: var(--color2);
}

i {
  color: var(--secondary-color);
}

hr {
  border: none;
  width: 10rem;
}

li {
  list-style: none;
}

.preLoader{
  height: 100vh;
}