html {
  font-size: 64.2%;
}

body {
  font-family: 'Nunito', sans-serif;
  color: var(--secondary-color);
  line-height: 1.4em;
  hyphens: auto;
}

@media only screen and (min-width: 320px) {
  html {
    font-size: 75%;
  }
}
@media only screen and (min-width: 480px) {
  html {
    font-size: 87.5%;
  }
}

@media screen and (min-width: 768px) {
  html {
    font-size: 100%;
  }
}

@media only screen and (min-width: 960px) {
  html {
    font-size: 112.5%;
  }
}
@media (min-width: 1024px) {
  html {
    font-size: 118, 75%;
  }
}
@media (min-width: 1280px) {
  html {
    font-size: 125%;
  }
}

@media (min-width: 1024px) {
  html {
    font-size: 110%;
  }
}

@media only screen and (min-width: 1280px) {
  html {
    font-size: 125%;
  }
}

@media screen and (min-width: 1536px) {
  html {
    font-size: 131.2%;
  }
}
